table {
    width: 100%;
    
    
    
  }
    #positions td, #positions th {
    border: 2px solid green; 
  
  }
   #display td, #display th {
    border: 2px solid purple; 
  
  }
  
  
  * {
    text-align: center;
  }
  